/* 
white text - FFFFFF
Orange text - FF6E32 
Grey background - 252934
Accent colour - 5C5752
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #252934;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 20%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  margin-top: 10px;
  margin-left: 20px;
}

.nav-items li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 1rem;
}

.nav-items li a:hover {
  background-color: rgba(255, 255, 255, 10%);
  color: #ff6e32;
}

#kf {
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  color: #ff6e32;
}

#introduction {
  display: flex;
  justify-content: center;
}

.intro-text {
  text-align: center;
  font-size: x-large;
  max-width: 800px;
}

p {
  margin-bottom: 2rem;
  max-width: 600px;
  font-size: 1.25rem;
}

.intro-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewWorkBtn {
  font-size: x-large;
  color: #252934;
  font-weight: bolder;
  background-color: #ff6e32;
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 5px;
}

.viewWorkBtn:hover {
  background: rgb(255, 110, 50, 90%);
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 5px;
}

#about {
  display: flex;
}

#about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 60%;
  gap: 1rem;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  padding: 3rem;
  margin-top: 4rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
  justify-content: center;
  font-size: 1.25rem;
  margin-top: 1.25rem;
}

.skills-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 10%);
}

.skills-items:hover {
  color: #ff6e32;
}

#projects {
  display: flex;
}

.title {
  padding: 3rem;
  margin-top: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.project:hover {
  background-color: rgb(255, 255, 255, 10%);
  border-radius: 1rem;
}

.project h3 {
  color: #fff;
}

.project:hover h3 {
  color: #ff6e32;
}

#experience {
  display: flex;
}

#experience-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 65%;
  gap: 1rem;
}

.experience-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
  padding: 3rem;
  margin-top: 4rem;
}

.relevant-experience {
  display: grid;
  justify-content: center;
}

.experience-items {
  display: flex;
  flex-direction: column;
}

#experience-list {
  list-style: circle;
  padding-left: 1.5rem;
}

.education {
  display: grid;
  justify-content: center;
}

#experience p {
  max-width: fit-content;
  margin: 0;
  font-size: 1rem;
}

#experience li {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.education-items {
  display: flex;
  flex-direction: column;
}

.education-items h4:hover {
  color: #ff6e32;
}
