/* 
white text - FFFFFF
Orange text - FF6E32 
Grey background - 252934
Accent colour - 5C5752
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #252934;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  margin-top: 10px;
  margin-left: 20px;
}

.nav-items li a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.nav-items li a:hover {
  background-color: rgba(255, 255, 255, 0.01);
  color: #ff6e32;
}

#kf {
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  color: #ff6e32;
}

#introduction {
  display: flex;
  justify-content: center;
}

.intro-text {
  text-align: center;
  font-size: x-large;
  max-width: 800px;
}

p {
  margin-bottom: 2rem;
  max-width: 600px;
  font-size: 1.25rem;
}

.intro-wrapper {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewWorkBtn {
  font-size: x-large;
  color: #252934;
  font-weight: bolder;
  background-color: #ff6e32;
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 5px;
}

.viewWorkBtn:hover {
  background: rgb(255, 110, 50, 90%);
  border: solid;
  border-width: 2px;
  border-color: #ff6e32;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 5px;
}

#about {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  min-width: 60%;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 2;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
