/* 
white text - FFFFFF
Orange text - FF6E32 
Grey background - 252934
Accent colour - 5C5752
*/
::before {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

html body #root {
  background-color: #252934;
  font-family: Cambria, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: rgb(255, 255, 255, 80%);
}

body {
  margin: 0%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}

button {
  font-family: inherit;
}

header {
  display: flex;
  align-items: flex-end;
  font-size: large;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-size: 1.25rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  color: #fff;
}

ul {
  list-style-type: none;
}

img {
  max-width: 25rem;
  margin: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.highlight {
  color: #ff6e32;
}

.subtle-highlight {
  color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #252934;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 80%);
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6e32;
}
